<h1>Classroom Info</h1>
<p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p>

<p>We now want to call out the oldest student in the class:</p>

<ul>

<%=  render 'students/student'%>
</ul>
