<!-- Illustration of this lab is available here: -->
<!-- https://i.imgur.com/9ZYPMgt.png -->
<ul>
  <li>
    Name: <%= @student.name %>
  </li>
  <li>
    Birthday: <%= @student.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= @student.hometown.capitalize %>
  </li>
</ul>
